.sideBarListItem{
    width: 100%;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sideBarListItem:hover{
    background-color: #99038D;
    color: #fff;
    .sideBarListBadge{
        color: #fff;
    }
}

.listIconContainer{
    width: 24px;
    margin-right: 20px;
    flex: 1;
}
.listTextContainer{
    flex: 10;
}
.listBadgeContainer{
    flex: 1;
}
.sideBarListBadge{
    color: #888;
}